body {
  height: 4000px;
}


/* ============start section 1 style================== */
.section1 {
  height: 100vh;

  background-image: url('../img/hero-bg.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.bg-dark {
  background-color: black !important;
}

.navbar-light .navbar-brand {
  color: white;
  margin-left: 7rem;
}

.nav-link {
  color: white !important;
  margin: 2px 15px;
}


.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar-light .navbar-brand:hover {
  color: white !important;
}

.navbar-light .navbar-toggler {
  color: white !important;
  border-color: white !important;
  background-color: white !important;
}

.section1 .layout {
  width: 100%;
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 8%;
}

.section1 .layout .content {
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  position: absolute;
  top: 35%;
  text-align: center;
}

.section1 .layout .content h1 {

  font-size: 40px;
  font-weight: bold;
  margin: 15px 0px;
  color: white;

}

.section1 .layout .content p {
  font-size: 20px;
  font-weight: 600;
  color: #B2B0AF;
}
.section1 .layout .content button{
  font-size: 30px;
  font-weight: 900;
  transition: all .9s ease-in-out;
  opacity: 0.85;
}
.section1 .layout .content button:hover{
  transform: translateY(-10px) ;
}

/* ------media for section 1================ */

@media(max-width: 800px) {
  .section1 .layout .content {
      top: 45%;
  }
}

@media(max-width : 425px) {
  .navbar-light .navbar-brand {
      margin-left: 0rem;
  }

  .section1 .layout .content h1 {
      font-size: 28px;
  }

  .section1 .layout .content p {
      font-size: 13px;
  }

  .w-25 {
      width: 50% !important;
  }

  .section1 .layout .content {
      top: 55%;
  }
}

/* ============end section 1 style================== */

/* -----------------start section 2 style================= */
.card {
  border: none;
}

.section2_content h1 {
  font-size: 25px;
  color: gray;
}



.section2_content p {
  font-size: 15px;
  color: gray;
}

@media(max-width : 800px) {
  .section2_content {
      margin-top: 4rem !important;
  }
}

/* -----------------end section 2 style================= */

/* ----------------------start style section 3================ */
.section3 {
  background-color: #F2F9F8;
}

.section3 h4 {
  color: #25AF96
}

.section3 h3 {
  color: gray;
  font-size: 25px;
  margin: 25px 0px;
}

.section3 p {
  color: gray;
  font-size: 18px;
}

/* ----------------------end style section 3================ */


/* ----------------------start style section 4================ */


.features .nav-tabs {
  margin-top: 20px;
  border: 0;
}

.features .nav-link {
  border: 0;
  padding: 20px;
  transition: 0.3s;
  color: #21413c;
}

.features .nav-link:hover {
  color: #1bac91;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1bac91;
}

.features .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
  color: black;
}

.features .nav-link.active {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

.features .nav-link.active h4 {
  color: #1bac91;
}

.features .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}

.img-fluid2 {
  max-width: 100%;
  height: auto;
  margin-left: 297px;
}

@media(max-width:768px){
  .img-fluid2 {
    max-width: 100%;
    height: auto;
    margin-left: 10px;
  }
}
@media(max-width:425px){
  .img-fluid2 {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
  }
}
/* ----------------------end style section 4================ */


/* ----------------------start style section 5================ */
.services .container{
  padding-top: 30px;
  background-color: #F1F9F8;
  height: 60vh;
  overflow: hidden;
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
  
}

.services .icon-box:hover {
  box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}
.services .section-title{
  text-align: center;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  
}

.services .title a {
  text-align: center;
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box-pink .icon i {
  color: #ff689b;
}

.services .icon-box-cyan .icon i {
  color: #3fcdc7;
}

.services .icon-box-green .icon i {
  color: #41cf2e;
}

.services .icon-box-blue .icon i {
  color: #2282ff;
}
/* ----------------------end style section 5================ */
/* ----------------------start style section 6================ */

.portfolio .section-title{
  text-align: center;
  padding-top: 20px;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 8px 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #1bac91;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #4ae3c6;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}



/* ----------------------end style section 6================ */